:root {
  --black: #000;
  --white: #fff;
  --primary-50: #f0eaf7;
  --primary-100: #e1d5ef;
  --primary-200: #c3abdf;
  --primary-300: #a482d0;
  --primary-400: #8658c0;
  --primary-500: #682eb0;
  --primary-600: #53258d;
  --primary-700: #3e1c6a;
  --primary-800: #2a1246;
  --primary-900: #150923;
  --secondary-50: #fffbe6;
  --secondary-100: #fff7cc;
  --secondary-200: #ffef99;
  --secondary-300: #ffe766;
  --secondary-400: #ffdf33;
  --secondary-500: #ffd700;
  --secondary-600: #ccac00;
  --secondary-700: #998100;
  --secondary-800: #665600;
  --secondary-900: #332b00;
  --blue-50: #f0f2ff;
  --blue-100: #e1e4ff;
  --blue-200: #c3caff;
  --blue-300: #a6afff;
  --blue-400: #8895ff;
  --blue-500: #6a7aff;
  --blue-600: #5563d9;
  --blue-700: #404cb3;
  --blue-800: #2a358d;
  --blue-900: #151e67;
  --green-50: #f0fff4;
  --green-100: #c6f6d5;
  --green-200: #9ae6b4;
  --green-300: #68d391;
  --green-400: #48bb78;
  --green-500: #38a169;
  --green-600: #25855a;
  --green-700: #276749;
  --green-800: #22543d;
  --green-900: #1c4532;
  --red-50: #fff5f5;
  --red-100: #fed7d7;
  --red-200: #feb2b2;
  --red-300: #fc8181;
  --red-400: #f56565;
  --red-500: #e53e3e;
  --red-600: #c53030;
  --red-700: #9b2c2c;
  --red-800: #822727;
  --red-900: #63171b;
  --orange-50: #fffaf0;
  --orange-100: #feebc8;
  --orange-200: #fbd38d;
  --orange-300: #f6ad55;
  --orange-400: #ed8936;
  --orange-500: #dd6b20;
  --orange-600: #c05621;
  --orange-700: #9c4221;
  --orange-800: #7b341e;
  --orange-900: #652b19;
  --teal-50: #e6fffa;
  --teal-100: #b2f5ea;
  --teal-200: #81e6d9;
  --teal-300: #4fd1c5;
  --teal-400: #38b2ac;
  --teal-500: #319795;
  --teal-600: #2c7a7b;
  --teal-700: #285e61;
  --teal-800: #234e52;
  --teal-900: #1d4044;
  --cyan-50: #edfdfd;
  --cyan-100: #c4f1f9;
  --cyan-200: #9decf9;
  --cyan-300: #76e4f7;
  --cyan-400: #0bc5ea;
  --cyan-500: #00b5d8;
  --cyan-600: #00a3c4;
  --cyan-700: #0987a0;
  --cyan-800: #086f83;
  --cyan-900: #065666;
  --pink-50: #fff5f7;
  --pink-100: #fed7e2;
  --pink-200: #fbb6ce;
  --pink-300: #f687b3;
  --pink-400: #ed64a6;
  --pink-500: #d53f8c;
  --pink-600: #b83280;
  --pink-700: #97266d;
  --pink-800: #702459;
  --pink-900: #521b41;
  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;
  --blackAlpha-50: rgba(0, 0, 0, 0.04);
  --blackAlpha-100: #0000000f;
  --blackAlpha-200: rgba(0, 0, 0, 0.08);
  --blackAlpha-300: rgba(0, 0, 0, 0.16);
  --blackAlpha-400: rgba(0, 0, 0, 0.24);
  --blackAlpha-500: rgba(0, 0, 0, 0.36);
  --blackAlpha-600: rgba(0, 0, 0, 0.48);
  --blackAlpha-700: rgba(0, 0, 0, 0.64);
  --blackAlpha-800: rgba(0, 0, 0, 0.8);
  --blackAlpha-900: rgba(0, 0, 0, 0.92);
  --whiteAlpha-50: #ffffff0a;
  --whiteAlpha-100: #ffffff0f;
  --whiteAlpha-200: #ffffff14;
  --whiteAlpha-300: #ffffff29;
  --whiteAlpha-400: #ffffff3d;
  --whiteAlpha-500: #ffffff5c;
  --whiteAlpha-600: #ffffff7a;
  --whiteAlpha-700: #ffffffa3;
  --whiteAlpha-800: #ffffffcc;
  --whiteAlpha-900: #ffffffeb;
}
